@model IEnumerable<ReportViewModel>

@{
    ViewData["Title"] = "Reports";
}

<button class="pinned-button" onclick="if (confirm('Are you sure to permanently delete ALL reports?'))
            location.href='@Url.Action("RemoveAllReports", "Reports")'">
    Delete all reports
</button>

<div>
    @foreach (var item in Model)
    {
        @Html.Partial("_ResultPartial", item);
        <br />
    }
</div>