@{
    ViewData["Title"] = "New task";
}

<div class="blocks-container">
    <input class="block-button" type="button" value="Add integration" onclick="location.href='@Url.Action("Index", "Integrations")'" />
    <br class="mobile-separator" />
    <br class="mobile-separator" />
    <input class="block-button" type="button" value="Add cracking" onclick="location.href='@Url.Action("Index", "Crackings")'" />
</div>
