@model IEnumerable<TaskViewModel>

@{
    ViewData["Title"] = "Current tasks";
}

<button class="pinned-button" onclick="if (confirm('Are you sure to unstuck ALL pending tasks?'))
            location.href='@Url.Action("UnstuckAllTasks", "Tasks")'">
    Unstuck all tasks in progress
</button>

<br />

<div>
    @foreach (var item in Model)
    {
        @Html.Partial("_ActiveTaskPartial", item);
        <br />
    }
    <br />
</div>
