@model IEnumerable<TaskViewModel>

@{
    ViewData["Title"] = "Current tasks";
}

<div>
    @foreach (var item in Model)
    {
        @Html.Partial("_ActiveTaskPartial", item);
        <br />
    }
</div>
