@model IEnumerable<TaskViewModel>

@{
    ViewData["Title"] = "Current tasks";
}

<div>
    <p>Page showing currently active tasks which are waiting for being computed.</p>

    @foreach (var item in Model)
    {
        @Html.Partial("_ActiveTaskPartial", item);
    }
</div>
