body {
    padding-top: 100px;
    padding-bottom: 20px;
    color: #6a6a6a;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.buttons-container {
    display: inline-block;
    width: 600px;
}

.block-button {
    color: #fff;
    background-color: #6a6a6a;
    width: 49%;
    height: 200px;
    cursor: default;
    white-space: normal;
    border: none;
}

    .block-button:hover {
        color: #000;
        background-color: #51b0a4;
    }

button.block-button {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.navbar-inverse {
    background-color: #6a6a6a;
    border-color: #fff;
}

    .navbar-inverse .navbar-text {
        color: #fff;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
    }

        .navbar-inverse .navbar-nav > li > a:hover,
        .navbar-inverse .navbar-nav > li > a:focus {
            color: #000;
            background-color: #51b0a4;
        }

    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus {
        color: #000;
        background-color: #51b0a4;
    }

.footer-bar {
    background-color: #6a6a6a;
    text-align: center;
    position: fixed;
    color: #fff;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #fff;
    overflow: hidden;
}

.mobile-separator{
    display: none;
}

.desktop-separator {
    display: inline;
}

@media screen and (max-width: 767px) {
    .buttons-container {
        width: 100%;
    }

    .block-button {
        width: 100%;
        height: 100px;
    }

    .mobile-separator {
        display: inline;
    }

    .desktop-separator {
        display: none;
    }
}
