@model IEnumerable<ResultViewModel>

@{
    ViewData["Title"] = "Results";
}

<div>
    <p>Main page. Showing results for past calculations.</p>

    @foreach (var item in Model)
    {
        @Html.Partial("_ResultPartial", item);
    }
</div>